* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #750031;
}

header {
    position: relative;
    padding: 0 2rem;
    /* display: flex;
    flex-direction: row;
    gap: 3%; */
}

.eleven {
    display: flex;
    height: 15vh;
    align-items: center;
    padding: 15px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: #5ee4cd;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar a:hover,
.navbar a.active {
    color: #5ee4cd;
}

/* Menu Despegable */
.despegable{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.despegable.open{
    height: 240px;
}

.despegable li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* main */
.main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home {
    display: flex;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content {
    display: flex;
    width: 90vw;
    height: 80vh;
}

.cajas {
    display: flex;
    height: 80vh;
    width: 45vw;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

.cajauno {
    display: flex;
    height: 20vh;
    width: 45vw;
    justify-content: end;
    flex-direction: column;
    align-items: center;
}

.cajados {
    display: flex;
    height: 40vh;
    width: 45vw;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.cajauno h2 {
    font-size: 6vh;
    color: white;
}

.cajados p {
    font-size: 3vh;
    color: #5ee4cd;
}

.img-frente {
    display: flex;
    height: 80vh;
    width: 45vw;
    padding: 0px 150px;
}

.img-frente img {
    display: flex;
    width: 45vw;
    border-radius: 10%;
}

/* Estilos productos */
.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 40px;
}

.items {
    width: 90%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.items .titulo {
    padding: 10px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
}

.items .titulo h3 {
    font-size: 44px;
    color: #5ee4cd;
}

.items .producto {
    padding: 60px 30px;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.producto img {
    width: 15%;
    margin: 0 20px;
}

.producto .detalle {
    height: 100%;
    margin: 0 20px;
    width: 60%;
    color: #5ee4cd;
}

.detalle h2 {
    font-size: 22px;
    padding: 10px 0;
    border-bottom: 1px solid #999;
}

.detalle p {
    font-size: 20px;
    color: #5ee4cd;
    padding: 10px 0;
}

.detalle .sabor h3 {
    font-size: 22px;
    margin: 10px 0;
    color: #00c3ff;
}

.detalle .qty {
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.qty h4 {
    margin-right: 30px;
    font-size: 22px;
}

.qty h4 input {
    width: 60px;
    height: 45px;
    font-size: 22px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}

.detalle .qty button {
    height: 40px;
    padding: 0 20%;
    font-size: 15px;
    border: none;
    color: #006b97;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.5s;
    border-radius: 2px;
}

.detalle .qty button:hover {
    background: #006b97;
    color: #fff;
}

.producto .precio {
    height: 100%;
    margin: 0 20px;
    width: 20%;
    text-align: right;
}

.precio p {
    font-size: 36px;
    padding: 10px 0;
    color: #5ee4cd;
}


/* Contacto/formularios */
.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 100px;
}

.container-form h2 {
    color: white;
    margin-bottom: 15px;
    font-size: 35px
}

.container-form p {
    color: white;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 700;
}

.container-form a i {
    color: #ffffff;
    margin-right: 10px;
}

.container-form form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea {
    max-width: 530px;
    min-width: 530px;
    max-height: 150px;
    min-height: 140px;
}

.container-form .btn {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn:hover {
    background: black;
}

.container-contactos {
    padding-top: 100px;
    margin-left: 600px;
}


/**Footer**/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 500px;
}

.footer {
    background-color: #24262b;
    padding: 80px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li {
    color: white;
    margin-bottom: 5px;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: white;
    padding-left: 6px;
}

/* Estilos Para Dispositivos moviles: index */

@media only screen and (max-width: 768px) {
    .home {
        height: auto;
    }

    .home-content {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0 16px;
    }

    .navbar .links{
        display: none;
    }
    .navbar .toggle-btn{
        display:block
    }

    .despegable{
        display: block;
    }

    .cajas {
        width: 100%;
        height: auto;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .cajauno {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }

    .cajados {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }

    .cajados p {
        font-size: 2.5vh;
    }

    .img-frente {
        width: 100%;
        padding: 0;
    }

    .img-frente img {
        width: 100%;
    }

    .container {
        padding-top: 200px;
    }

    .footer-row {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-links h4 {
        text-align: center;
        margin-bottom: 15px;
        border-bottom: none;
        padding-bottom: 0px;
        display: block;
    }

    .footer-links ul li {
        margin-bottom: 10px;
    }

    .footer-links ul li a {
        font-size: 16px;
    }
}

/* Estilos Para Tablets: index */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .home-content {
        height: 70vh;
        padding: 0 32px;
    }

    .cajas {
        width: 90%;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .cajauno {
        height: 25vh;
        padding: 32px;
    }

    .cajados {
        height: 45vh;
        padding: 32px;
    }

    .cajados p {
        font-size: 2.8vh;
    }

    .img-frente {
        padding: 0 32px;
    }

    .container {
        padding-top: 200px;
    }

    .footer-links {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer-links h4 {
        font-size: 18px;
    }

    .footer-links ul li a {
        font-size: 16px;
    }
}

/* Estilos para dispositivos móviles : Contactos */
@media (max-width: 768px) {
    .navbar .links{
        display: none;
    }
    .navbar .toggle-btn{
        display:block
    }

    .despegable{
        display: block;
    }

    .container-form {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-top: 50px;
    }

    .container-form h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .container-form p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .container-form a {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .container-form form .campo,
    textarea {
        font-size: 14px;
        padding: 10px;
        margin-bottom: 15px;
    }

    .container-form form textarea {
        max-width: 100%;
        min-width: 100%;
        max-height: 120px;
        min-height: 100px;
    }

    .container-contactos {
        padding-top: 50px;
        margin-left: 0;
    }

    .container {
        padding-top: 200px;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 40px;
    }

    .footer-links h4 {
        font-size: 18px;
        margin-bottom: 20px;
        padding-bottom: 5px;
        border: none;
        display: block;
    }

    .footer-links ul li a {
        font-size: 16px;
    }
}


/* Estilos Para Tablets: Contactos */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container-form {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin-top: 50px;
    }

    .container-form form textarea {
        max-width: 100%;
        min-width: 100%;
        max-height: 120px;
        min-height: 110px;
    }

    .container-contactos {
        margin-left: 0;
        text-align: center;
    }

    .container {
        padding-top: 200px;
    }

    .footer-links {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer-links h4 {
        font-size: 18px;
    }

    .footer-links ul li a {
        font-size: 16px;
    }
}